<div class="footer">
  <div class="footer-text-box">
    <div class="footer-text">
        <p>Houston, like other major cities across the country, is undergoing a population and landscape change. We wanted to share compelling data visualizations, surface insights, and create a resource that sheds light on the connections between eviction and other social issues to drive communities and organizations to take action and make better informed decisions that affect their communities.</p>
    </div>
  </div>
</div>
