@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.footer {
	background-color: #eddbcd;
	position: absolute;
	overflow: auto;
	left:0px;
	right:0px;
  bottom:0px;
  height:125px;
  width:100%;
}

.footer-text-box {
	max-width: 462.2px;
	max-height: 70px;
	background-color: #eddbcd;
	position: relative;
	padding-left: 46px;
  padding-top: 46px;
}

.footer-text {
	font-family: 'Montserrat',sans-serif;
	font-size: .6em;
	letter-spacing: 0.2px;
	text-align: left;
	color: #000000;
	background-color: #eddbcd;
}
