<p>
  What Is Eviction?
  <i>Eviction is the dispossession of a tenant of who is leasing property, either by force or by a legal process.</i><br />
  The eviction data on this site is a compilation of Harris County court-ordered evictions. These eviction cases are lawsuits brought to the Harris County Justice of the Peace Courts in order to “recover possession of real property, usually by a landlord against a tenant.”<br />
  For more information on the eviction process in the City of Houston, please visit <a href="http://www.houstontx.gov/housing/tenant_law_evictions.html">http://www.houstontx.gov/housing/tenant_law_evictions.html</a><br />
  For more information on the eviction process in Harris County, please visit <a href="http://www.jp.hctx.net/evictions/default.htm">http://www.jp.hctx.net/evictions/default.htm</a></p>
  <p>The Eviction Process in Texas<br />
  Landlord must first give 3 days written notice to vacate (Tex. Prop. Code § 4.24.005).<br />
  If tenant does not move out after 3 days, landlord may file eviction proceedings with Texas Justice Court, which sets a trial date.<br />
  Failure to show for trial may result in default judgment against the tenant (Tex. Prop. Code § 4.24.0051(c)).<br />
  NOTE: Losing parties in eviction trials are often compelled to pay legal fees for the winning party. Often, the risk of losing outweighs the potential benefit of fighting the eviction, which disincentives many tenants from fighting their evictions.<br /><br />
  What do I do if I'm being evicted?<br />
  If you’re in Houston, dial 2-1-1 and ask for a list of agencies that can help pay for rental assistance. Rental assistance criteria often includes an area code, so begin with asking agencies nearest you.<br />
  <a href="http://auntbertha.com">AuntBertha.com</a> has a large database of nonprofits that can help you locate nearby resources for housing assistance.
  For those experiencing homelessness, the Coalition for the Homeless has many resources here.<br />
  This Help Card has maps and info for various shelters in the city.<br />
  Matthew Desmond’s foundation is putting together a national hub for these kinds of resources at <a href="https://justshelter.org/">https://justshelter.org/</a>
</p>

  <p>Grounds for Fighting an Eviction<p>


  <p>Landlord did not give written notice to vacate, or the notice was missing required information (as specified in Tex. Prop. Code § 4.24.005).
  In this case, eviction is likely to be dismissed, but the landlord can fix the errors and issue a new notice to vacate, starting the process over.</p>

  <p>Landlord’s notice to vacate specified (at landlord’s discretion, as specified in Tex. Prop. Code § 4.24.005(i)) that tenant had the option to pay late rent to avoid eviction, and tenant then paid the late rent within 3 days of the notice.
  In this case, eviction is likely to be dismissed.</p>

  <p>Landlord removes items from the apartment, or changes the locks (without providing the tenant a way to acquire the new keys within 2 hours, 24 hours a day, regardless of whether tenant pays delinquent rent) in order to coerce the tenant to leave the premises. (Tex. Prop. Code § 92.0081).
  In this case, eviction suit is likely to be dismissed, and landlord may be forced to pay up to 1 month’s rent + $1000 in damages.</p>


  <p>Rental unit was uninhabitable (as specified in Tex. Prop. Code § 92.0561), and either:<br />
  Tenant gave landlord written notice and landlord did not resolve the problem within 7 days (see Tex. Prop. Code § 92.052), OR<br />
  Tenant had issues repaired and deducted the cost from rent, following which landlord began eviction proceedings on the grounds of insufficient rent paid.</p>


  <p>Landlord evicted tenant for a discriminatory reason (i.e. race, gender, national origin, disability), under the Federal Fair Housing Act.<br />
  NOTE: Sexual orientation, gender identity, and gender expression are NOT covered by federal law, and while many states have enacted their own statutes to cover them, Texas has not.</p>

  <p>Sociologist Matthew Desmond studies eviction and the lives of America’s poor; learn more about eviction here and read his book Evicted.<p>


  <p>What is Informal Eviction?<br />
  Sometimes, landlords will not take tenants to court. They may resort to other methods, such as paying them to leave, locking a tenant out, or making the dwelling unlivable.<br />
  Legally, a landlord cannot remove a door, window, lock, door knob, or any other landlord-furnished appliance (unless the removal is for repair or replacement, in which case it should be repaired or replaced before nightfall) or turn off heat, electricity, etc.<br />
  A lack of legal basis does not prevent this from happening, as evidenced by the MARS study conducted in Milwaukee
</p>
