<nav>
  <a href="#" id ="logo"></a>

  <label for="drop" class="toggle">About +</label>
  <input type="checkbox" id="drop" />
      <ul class="menu">
          <li>
            <a href="#">About</a>
            <input type="checkbox" id="drop"/>
            <ul>
                <li>
                <label for="drop-1" class="toggle">Eviction +</label>
                  <a href="#">Eviction</a>
                  <input type="checkbox" id="drop-1" />
                  <ul>
                    <li><a href="#">What Is Eviction</a></li>
                    <li><a href="#">What to Do If I'm Evicted</a></li>
                  </ul>
                </li>
            </ul>
          </li>
          <li><a href="#">Data</a></li>
          <li>

          <!-- First Tier Drop Down -->
          <label for="drop-2" class="toggle">Team +</label>
          <a href="#">Team</a>
          <input type="checkbox" id="drop-2"/>
          <ul>
              <li><a href="#">Resources</a></li>
              <li><a href="#">Links</a></li>
              <li>

              <!-- Second Tier Drop Down -->
              <label for="drop-3" class="toggle">FAQ +</label>
              <a href="#">FAQ</a>
              <input type="checkbox" id="drop-3"/>
              <ul>
                  <li><a href="#">HTML/CSS</a></li>
                  <li><a href="#">jQuery</a></li>
                  <li><a href="#">Other</a></li>
              </ul>
              </li>
          </ul>
          </li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Contact Us</a></li>
      </ul>
  </nav>
