<!-- <div class="top-nav">
  <div id="logo">logo</div>
  <div class="about">About</div>
  <div class="data">Data</div>
  <div class="team">Team<div>
  <div class="faq">FAQ</div>
  <div class="contact">Contact</div>
</div> -->


  <nav>
  <div id="logo">EvictionAnd</div>
  <label for="drop" class="toggle">Menu</label>
  <input type="checkbox" id="drop" />
      <ul class="menu">
          <li><a href="#">Home</a></li>
          <li>
              <!-- First Tier Drop Down -->
              <label for="drop-1" class="toggle">About Eviction +</label>
              <a href="#">About</a>
              <input type="checkbox" id="drop-1"/>
              <ul>
                  <li><a href="#">What is Eviction</a></li>
                  <li><a href="#">What Do I do If I'm Being Evicted</a></li>
              </ul>

          </li>
          <li>

          <!-- First Tier Drop Down -->
          <label for="drop-2" class="toggle">Data +</label>
          <a href="#">Web Design</a>
          <input type="checkbox" id="drop-2"/>
          <ul>
              <li><a href="#">Resources</a></li>
              <li><a href="#">Links</a></li>
              <li>

              <!-- Second Tier Drop Down -->
              <label for="drop-3" class="toggle">Tutorials +</label>
              <a href="#">Tutorials</a>
              <input type="checkbox" id="drop-3"/>

              <ul>
                  <li><a href="#">HTML/CSS</a></li>
                  <li><a href="#">jQuery</a></li>
                  <li><a href="#">Other</a></li>
              </ul>
              </li>
          </ul>
          </li>
          <li><a href="#">Data</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">FAQ</a></li>
      </ul>
  </nav>
