/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.modal-background {
	width: 106.5px;
	height: 223.5px;
	opacity: 0.85;
	border-radius: 2px;
	background-color: #cdcdcd;
}

.rectangle-1 {
	width: 398.5px;
	height: 369px;
	border-radius: 3.5px;
	background-color: #eddbcd;
	box-shadow: 0 3.5px 10px 0 rgba(0, 0, 0, 0.5);
	border: solid 0.5px #979797;
}
