hae-map-square {
	width: 93px;
	height: 86.5px;
	opacity: 0.12;
	background-color: #000000;
}

hae-map-long {
	width: 62px;
	height: 113px;
	opacity: 0.12;
	background-color: #000000;
}

hae-map-squat {
	width: 93px;
	height: 64px;
	opacity: 0.12;
	background-color: #000000;
}
