.header{

}

.top-nav {
	width: 214px;
	height: 14.5px;
}


.eviction {
	width: 105.5px;
	height: 28.5px;
	font-family: OpenSans;
	font-size: 21px;
	font-weight: 800;
	letter-spacing: 0.2px;
	text-align: center;
	color: #597799;
}
